ion-header {
  ion-title {
    padding-right: unset;
    .date-time {
      position: absolute;
      left: 20px;
      top: 90%;
      font-size: 10px;
    }
    .refresh-icon {
      position: relative;
      float: right;
      margin-right: 20px;
      ion-icon {
        font-size: 25px;
        &.refreshing {
          animation: rotation 2s infinite linear;
        }
      }
    }
  }
}

ion-content {
  .dummy-content {
    filter: blur(0.7vw) grayscale(70%);
  }
}

footer {
  position: absolute;
  bottom: 0;
  margin: 5px 15px;
  text-align: center;
  p {
    margin: 0;
    color: #DDDDDD;
    font-size: 3vw;
    white-space: normal;
    a {
      color: #CCCCCC;
      text-decoration: none;
    }
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
    -webkit-transform: rotate(359deg);
  }
}

.ripple-parent {
  position: relative;
  overflow: hidden;
  &.ripple-visible {
    overflow: visible;
  }
  ion-ripple-effect {
    z-index: 1;
  }
}