<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Worldwide
      <span *ngIf="totalCovidData" class="date-time">{{ dateTime }}</span>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="totalCovidData">

    <div id="container">
      <p>Coronavirus cases:</p>
      <h2 class="confirmed">{{ totalCovidData.Confirmed }}</h2>
  
      <p>Deaths:</p>
      <h2 class="deaths">{{ totalCovidData.Deaths }}</h2>
  
      <p>Recovered:</p>
      <h2 class="recovered">{{ totalCovidData.Recovered }}</h2>
    </div>

  </ng-container>

  <ng-container *ngIf="!totalCovidData">

    <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>

    <div id="container" class="dummy-content">
      <p>Coronavirus cases:</p>
      <h2 class="confirmed">999,999</h2>
  
      <p>Deaths:</p>
      <h2 class="deaths">00,000</h2>
  
      <p>Recovered:</p>
      <h2 class="recovered">111,111</h2>
    </div>

  </ng-container>

</ion-content>
