<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Worldwide
      <span class="date-time">{{ coronavirusService.dateTime }}</span>
      <ion-icon (click)="refreshData()" class="refresh-icon" name="refresh"></ion-icon>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ng-container *ngIf="!coronavirusService.noData && !coronavirusService.fetchingData && coronavirusService.totalData">

    <div id="container">
      <p>Coronavirus cases:</p>
      <h2 class="confirmed">{{ coronavirusService.totalData.totalCases }}</h2>
  
      <p>Deaths:</p>
      <h2 class="deaths">{{ coronavirusService.totalData.totalDeaths }}</h2>
  
      <p>Recovered:</p>
      <h2 class="recovered">{{ coronavirusService.totalData.totalRecovered }}</h2>
    </div>

  </ng-container>

  <ng-container *ngIf="!coronavirusService.noData && coronavirusService.fetchingData">

    <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>

    <div id="container" class="dummy-content">
      <p>Coronavirus cases:</p>
      <h2 class="confirmed">999,999</h2>
  
      <p>Deaths:</p>
      <h2 class="deaths">22,222</h2>
  
      <p>Recovered:</p>
      <h2 class="recovered">111,111</h2>
    </div>

  </ng-container>

  <ng-container *ngIf="coronavirusService.noData">

    <div id="container">
      <p>Coronavirus cases:</p>
      <h2 class="confirmed">No data</h2>
  
      <p>Deaths:</p>
      <h2 class="deaths">No data</h2>
  
      <p>Recovered:</p>
      <h2 class="recovered">No data</h2>
    </div>

  </ng-container>

</ion-content>

<footer>
  <p>© Copyright Worldometers.info - All rights reserved - <a href="https://www.worldometers.info/disclaimer/" rel="noopener norefferer">Disclaimer & Privacy Policy</a></p>
</footer>
