ion-content ion-toolbar {
  --background: translucent;
}

#container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: calc(50% + 26px);
  transform: translateY(-50%);

  p {
    font-size: 25px;
    line-height: 22px;
    color: #555555;
    margin: 0;
  }

  h2 {
    font-size: 37px;
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: bold;;
    &.confirmed {
      color: #AAAAAA;
    }
    &.deaths {
      color: #696969;
    }
    &.recovered {
      color: #8ACA2B;
    }
  }

}