<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Country
      <span class="date-time">{{ coronavirusService?.dateTime }}</span>
      <div class="refresh-icon ion-activatable ripple-parent ripple-visible">
        <ion-icon (click)="refreshData()" name="refresh"></ion-icon>
        <ion-ripple-effect type="unbounded"></ion-ripple-effect>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" [scrollEvents]="true" (ionScroll)="logScrolling($event)">

  <div id="container" *ngIf="!coronavirusService?.noData && !coronavirusService?.fetchingData && covidDataArrayView">

    <ion-searchbar placeholder="Search" showCancelButton="focus" debounce="300" (ionChange)="search($event)"></ion-searchbar>

    <ion-list *ngFor="let covidData of covidDataArrayView" class="ion-activatable ripple-parent">
      <ion-item (click)="navigateDetail(covidData)">
        <ion-label>
          <h2 class="country"><strong>{{ covidData?.country }}</strong></h2>
          <h3>Total cases: <span class="confirmed">{{ covidData?.totalCases }}</span><span *ngIf="covidData?.newCases" class="new">Today: {{ covidData?.newCases }}</span></h3>
          <p>Total deaths: <span class="deaths">{{ covidData?.totalDeaths }}</span><span *ngIf="covidData?.newDeaths" class="new">Today: {{ covidData?.newDeaths }}</span></p>
          <h2><strong>Recovered: </strong><span class="recovered"><strong>{{ covidData?.totalRecovered }}</strong></span></h2>
        </ion-label>
      </ion-item>
      <ion-ripple-effect></ion-ripple-effect>
    </ion-list>

    <ion-spinner *ngIf="!scrollLoadingDisabled" name="lines" class="loading-spinner"></ion-spinner>

  </div>

  <ng-container *ngIf="!coronavirusService?.noData && coronavirusService?.fetchingData">

    <ion-progress-bar color="primary" type="indeterminate"></ion-progress-bar>
    <ion-searchbar class="dummy-content"></ion-searchbar>

    <ion-list *ngFor="let dummyItem of dummyArray" class="dummy-content">
      <ion-item>
        <ion-label>
          <h2 class="country"><strong>Country</strong></h2>
          <h3>Total cases: <span class="confirmed">99999</span></h3>
          <p>Total deaths: <span class="deaths">00000</span></p>
          <h2><strong>Recovered: </strong><span class="recovered"><strong>11111</strong></span></h2>
        </ion-label>
      </ion-item>
    </ion-list>

  </ng-container>

  <ng-container *ngIf="coronavirusService?.noData">

    <ion-searchbar></ion-searchbar>

    <ion-list *ngFor="let dummyItem of dummyArray">
      <ion-item>
        <ion-label>
          <h2 class="country"><strong>Country</strong></h2>
          <h3>Total cases: <span class="confirmed">No data</span></h3>
          <p>Total deaths: <span class="deaths">No data</span></p>
          <h2><strong>Recovered: </strong><span class="recovered"><strong>No data</strong></span></h2>
        </ion-label>
      </ion-item>
    </ion-list>

  </ng-container>

</ion-content>
